/***MIXINS**************/
@mixin mayus {
	text-transform: uppercase;
}

/***FONTS**************/

.titulo-seccion {
	font-size: 40px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #333333;
	text-align: center;
	text-transform: uppercase;
}
.sub-seccion {
	font-size: 16px;
	font-family: 'Droid Serif';
	color: #777777;
	text-align: center;
	font-style: italic;
}
.subtitulo{
	font-size: 20px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #333333;
	text-align: center;
}
.texto-contenido{
	font-size: 14px;
	font-family: 'Droid Serif';
	color: #777777;
	text-align: center;
	line-height: 1.7;
}

/***UTILITIES**************/
.text-white{
	color: white;
}
/*****/
html{
	height: 100%;
	width: 100%;;
}
body{
	@extend html;
	section:nth-child(odd){
		background-color: #F7F7F7;
	} 

}


/***HEADER**************/
header{
	@extend html;
	background-image: url(../../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	.btn-agency{
		@include mayus;
		background-color: #FED136;
		padding: 25px 15px;
		color: white;
		border: none;
		border-radius: 3px;
	}

}


/***SERVICES**************/
#services{
	.col-md-4{
		    text-align: center;
	}
}
.fa-circle{
	color: #FED136;
}
.fa-stack-1x{
	color: #ffffff;
}
/***PORTFOLIO**************/
/***ABOUT**************/

/*****************/
/*****************/
/*****************/
/*****************/
/*  .timeline-caja:nth-child(even) .timeline-contenido {
    	float: right;
        
    .timeline-caja:nth-child(odd) .timeline-contenido {
   		text-align: left;
   */