- var subseccion = "Lorem ipsum dolor sit amet consectetur."
- var services = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impdit."
- var subtitulo = "Lorem ipsum dolor sit amet consectetur."
- var about = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sun ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusda, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!"
- var team = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sun ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusda, recusandae sit vero unde."